<div class="card">
  <div class="image"><img src="img/1.jpg"></div>
  <div class="header-info">
    <div class="header-name">Brooke Shimasaki and Deborah Orret</div>
    <div class="header-blurb">South campus duo upcycles second-hand clothing for fashion line</div>
    <div class="header-byline">BY JOSEPHINE BRUIN</div>
  </div>
</div>
<div class="card">
  <div class="image rev"><img src="img/2.jpg"></div>
  <div class="header-info rev">
    <div class="header-name">Brooke Shimasaki and Deborah Orret</div>
    <div class="header-blurb">South campus duo upcycles second-hand clothing for fashion line</div>
    <div class="header-byline">BY JOSEPHINE BRUIN</div>
  </div>
</div>
