<header>
  <img src="img/header.jpg">
  <div id="spring">FAST Fashion Show</div>
  <div id="sing">2018</div>
  <div class="blurb">The 2018 FAST Fashion Show will take place in Pauley Pavilion on May 24. Take a look at some of the designers who will be showcasing their lines.</div>
</header>
